.vs/
**/Debug/
**/Release/
**/x64/
**/GeneratedFiles/
**/*.user
**/*.suo
**/*.VC.db
**/*.VC.opendb
**/*.idb
**/*.ilk
**/*.ipdb
**/*.iobj
**/*.lastbuildstate
**/*.log
**/*.obj
**/*.pdb
**/*.tlog
*.sqlite
*.sqlite-shm
*.sqlite-wal

